#form__hackathon{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}
.form__container{
    padding-left: 13rem;
    padding-right: 13rem;
}
.hackathon__icon__container{
    background-image: radial-gradient(circle at center, #6A1A7E,  #222);
    display:flex;
    justify-content: center;
    align-items: center;
}
.error-message{
    color: #666FCF;
}
@media (max-width: 1023px) {

    #form__hackathon{
        grid-template-columns: repeat(1,1fr);
    }
    .form__container{
        padding-left: 3rem;
        padding-right: 3rem;
    }

}