.gradient {
    background: linear-gradient(120deg, #D7DAFF 0%, #666FCF 59%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    transition: background 0.3s ease;
}

.gradient:hover {
    background: linear-gradient(120deg, #666FCF 0%, #D7DAFF 59%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-width: .1rem;
    border-style: solid;
    border-radius: 1.9rem;
}

.btn:hover {
    cursor: pointer;

}

.btn-primary {
    color: var(--primary);
    border-color: var(--primary);
    background-color: transparent;
}

.btn-primary:hover {
    transition: all 0.7s;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.btn-secondary {
    color: var(--primary);
    border-color: var(--secondary);
    background-color: var(--secondary);
}

.btn-secondary:hover {
    transition: all 0.7s;
    border-color: var(--primary);
    background-color: transparent;
}

.font-3xl {
    font-size: 3rem;
}