#hero__hackathon{
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    justify-content: center;
    height: 80vh;
    align-items: center;
}
#hero__hackathon h1{
    text-align: center;
}
#hero__hackathon img{
    width: 100%;
    max-width: 40rem;
    height: auto;
}