#hero__hackathon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero__hackathon h1 {
    text-align: center;
}

#hero__hackathon img {
    width: 100%;
    max-width: 40rem;
    height: auto;
}

select {
    border-radius: 4rem;
    padding: 1rem;
    background-color: var(--bg-secondary);
}