#hero{
    min-height: 80vh;
    display: flex;
}
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding-right: 20rem;
}
.hero-left p{
    color: var(--secondary);
}
.hero-right{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #1A237E 0%, #222 75%,  #222 100%)
}
.hero-right-icon {
    animation: floating 0.8s infinite alternate;

}