@import url(./globals.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./services.css);
@import url(./info.css);
@import url(./sponsors.css);
@import url(./faq.css);
@import url(./contact-us.css);
@import url(./footer.css);
@import url(./hero_hackthon.css);
@import url(./form_hackthon.css);

:root {
    --fontBase: "Manrope", sans-serif;
    
    --fontSecondary: 'Fraunces', serif;

    --headLine1: 900 6.4rem/6rem var(--fontBase);
    --headLine2: 900 5.4rem/6rem var(--fontBase);

    --body1: 400 1.6rem/3rem var(--fontBase);

    --bg-primary: #222222;
    --bg-secondary: #D7DAFF;
    /* --bg-secondary:#2c2c2c; */
    --primary: #FFFFFF;
    --secondary: #AAB1F4;
    --tertiary: #1A237E;

    overflow-x: hidden;
    --headLine1Mobile: 900 clamp(3rem, 4vw, 5rem) / 1.3;

}

html {
    font-size: 62.5%;
}

body {
    font: var(--body1);
    color: var(--primary);
    background-color: var(--bg-primary);
}

.h1 {
    font: var(--headLine1);
}

.h2 {
    font: var(--headLine2);
}

section {
    padding: 3em 2em;
}
/* Media query for mobile devices */
@media (max-width: 480px) {
    body{
        background-color: red;
    }
    .h1{
        font-size: 5rem;
    }
}    