@import url(./globals.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./services.css);
@import url(./info.css);

:root{
    --fontBase: "Manrope", sans-serif;;
    --fontSecondary :'Fraunces', serif;

    --headLine1 : 900 6.4rem/6rem var(--fontBase);
    --headLine2 : 900 5.4rem/6rem var(--fontBase);

    --body1: 600 1.6rem/3rem var(--fontBase);

    --bg-primary: #222222;

    --primary: #FFFFFF;
    --secondary: #AAB1F4;
    --tertiary: #1A237E;
    
}   
/* 
@media screen and (min-width: 900px){
    :root{
        --headLine1 : 900 5rem/6rem var(--fontBase);

        --body1: 600 1.8rem/3rem var(--fontBase);
    }
} */


*,
*::after,
*::before{
    margin : 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%; 
}
body{
    font: var(--body1);
    color: var(--primary);
    background-color: var(--bg-primary);
}
.h1{
    font:var(--headLine1 );
}
.h2{
    font:var(--headLine2 );
}