#services{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#services h2{
    text-align: center;
}
#services p{
    text-align: center;
    color: var(--primary);
    margin-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.speakers-container{
    background-color:var(--secondary);
    padding: 3rem;
    display: flex;
}
.services-card{
    background-color: var(--bg-primary);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.speaker-img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.speakers-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin: 40px 0 10px 0 ;
}
.speaker-img img{
    border-radius: 50%;
}

.speaker-info{
    padding: 1rem;
}
.speaker-info h3{
  text-align: center;
}
.speaker-info a{
    color: var(--secondary);
    text-decoration: none;
}   