@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(20px);
}

header .logo {
    position: relative;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
}
.degrade {
    background: linear-gradient(120deg,#D7DAFF 0%, #666FCF 59%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    transition: background 0.3s ease;
}
header ul {
    position: relative;
    display: flex;
    gap: 40px;
}

header li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
}

header ul li.active a,
header ul li:hover a{
    color: #1A237E;
}
header ul li a:hover {
    transition: 0.5s;
    letter-spacing: 1px;
}
#home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
#home::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 0px;
    width: 50vw;
    height: 50vw;
    background: radial-gradient(circle, #1A237E 0%, #222 75%,  #222 100%)
}
#home .content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    z-index: 10;
}

#home .content h2 {
    position: relative;
    font-size: 5em;
    color: #fff;
}
#home .content h2 span{
    color: #fff;
}

#home .content p {
    position: relative;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.6em;
}

.btn {
    --color: #fff;
    background-color: #34353a;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color);
  }
  
  .btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #222;
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  .btn:hover {
    color: #fff;
    cursor: pointer;
  }
  
  .btn:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .btn:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .btn:active:before {
    background: #34353a;
    transition: background 0s;
  }
  
#home .hero {
    position: absolute;
    bottom: 100px;
    right: 180px;
    max-width: 80vh;
    animation: floating 0.8s infinite alternate;
}

@keyframes floating {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
}

#services,
#info,
#faq,
#contact-us {
    position: relative;
    background: #222;
    min-height: 100vh;
    padding: 120px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secText {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secText h2 {
    text-align: center;
    font-size: 3em;
    color: #fff;
}


.secText p {
    max-width: 700px;
    text-align: center;
    color: #aaa;
    font-size: 1.1em;
    line-height: 1.5em;
}

#services .content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin: 40px 0 10px 0 ;
}

#services .content .servicesBx {
    background-color: #2e2f34;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #2e2f34;
}

#services .content .servicesBx:hover{
    border: 2px solid #1A237E;
    cursor: pointer;
}

.servicesBx img {
    max-width: 100px;
    opacity: 1;
    transition: 0.5s;
}

.servicesBx h3 {
    color: #fff;
    font-weight: 500;
}

.center {
    width: 100%;
    text-align: center;
}

#info {
    background: #222;
    text-align: center;
}

#info .content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    margin: 40px 0;
}
#info .content .imgBx {
    position: relative;
}

#info .textBx {
    line-height: 35px;
    color: #fff;
}

#info .textBx p{
    text-align: start;  
    font-size: 24px;
}
#info .textBx h2 {
    font-size: 36px;
}

#info .content .imgBx img{
    width: 350px;
    height: 250px;
}
.faq {
    background-color: #222; /* Adjust to match your background color */
    color: #fff;
    padding: 20px;
}

.faq h2 {
    font-size: 3em;
    border-bottom: 3px solid #d7daff;
}

.faq ul {
    list-style: none;
    padding: 0;
}

.faq li {
    border-bottom: 3px solid #d7daff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq li p {
    font-size: 24px;
}
.arrow {
    font-size: 50px;
}

#contact-us .content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

#contact-us .content a {
    background: #2e2f34;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    transition: 0.5s;
}

#contact-us .content a:hover {
    background: #ffffffc0;
}

#contact-us .content a i {
    color: #fff;
    font-size: 1.5em;
    margin-right: 10px;
    transition: 0.5s;
}
#contact-us .content a:hover,
#contact-us .content a:hover i {
    color: #222;
}

.copyrights {
    position: relative;
    margin-top: 150px;
    color: #aaa;
    font-size: 1.1em;
}

.copyrights a {
    color: #fff;
    text-decoration: none;
}

/*Responsive*/
@media (max-width: 900px) {
    header {
        padding: 20px 50px;
    }
    #home {
        padding: 150px 50px;
        flex-direction: column;
        padding-bottom: 0;
    }
    #home .content h2 {
        font-size: 4em;
    }
    .btn {
        max-width: 160px;
        padding: 10px 20px;
    }
    #home .hero {
        position: absolute;
        height: 50vh;
        right: 0;
    }
    .secText h2 {
        font-size: 2em;
        text-align: center;
    }
    #services,
    #info,
    #contact-us {
        padding: 100px 50px 50px;
    }
    #services .content,
    #info .content,
    #contact-us .content {
        grid-template-columns: repeat(2,1fr);
    }
    .menuToggle {
        position: relative;
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .menuToggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        transform: translateY(-10px);
        transition: 0.5s;
        box-shadow: 0 10px #fff;
    }
    .menuToggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        transform: translateY(10px);
        transition: 0.5s;
    }
    header.active .menuToggle::before{
        transform: translate(0px) rotate(45deg);
        box-shadow: 0 0px #fff;
    }
    header.active .menuToggle::after{
        transform: translate(0px) rotate(315deg);
    }
    header ul {
        display: none;
    }
    header.active ul {
        position: fixed;
        left: 0;
        top: 84px;
        width: 100%;
        height: calc(100vh - 84px);
        background: rgba(50, 50, 50, 0.95);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10000;
        gap: 20px;
    }
    header.active ul li a {
        font-size: 2em;
    }
    
}

@media (max-width: 700px) {
    #home .content h2 {
        font-size: 3em;
    }
    #home::before {
        width: 80vw;
        height: 40vw;
        border-top-right-radius: 80vw;
        border-top-left-radius: 80vw;
    }
    #home .hero {
        height: 40vh;
        right: 110px;
    }
    #services .content,
    #info .content,
    #contact-us .content {
        grid-template-columns: repeat(1,1fr);
    }
    #contact-us .content a{
        height: 80px;
    }
    .faq h2 {
        font-size: 24px;
    }
}
@media (max-width: 450px) {
    #home .hero{
        height: 30vh;
        right: 10px;
    }
}